.top {
    position: fixed;
    width: 40px;
    right: 70px;
    bottom: 70px;
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 900px) {
    .top {
        right: 40px;
        bottom: 40px;
    }
}