.top {
    position: fixed;
    width: 50px;
    padding: 5px;
    right: 70px;
    bottom: 70px;
    opacity: 40%;
    cursor: pointer;
}

@media (max-width: 900px) {
    .top {
        display: none;
    }
}