.tabs__wrapper {
    max-width: 1400px;
    padding: 1rem;
    margin: 0 auto;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: var(--primaryblack);
    font-weight: 300;
    background-color: var(--lightwhite);
}

.pic {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.tabs__title {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 1rem;
    padding: 0;
    max-width: 600px;
    margin: 2rem auto;
}

.tabs__title_item {
    font-size: 2rem;
    font-weight: 500;
    list-style-type: none;
    width: 300px;
    cursor: pointer;
    margin: 0 auto;
    border-bottom: 2px solid transparent;
}

.tabs__title_item_active {
    font-size: 2rem;
    font-weight: 500;
    list-style-type: none;
    width: 300px;
    cursor: pointer;
    margin: 0 auto;
    border-bottom: 2px solid var(--primaryblack);
}

.tabs__title_item:hover {
    color: var(--secondarygreen);
}

/* .tabs__content {} */

.tabs__card {
    margin: 1rem auto;
}

.tabs__none {
    display: none;
}

.tabs__card_text {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    text-indent: 1rem;
}

.tabs__card_item {
    list-style-type: none;
    font-size: 1.2rem;
}

@media (max-width: 900px) {
    .pic {
            width: 95%;
            margin: 0 auto;
        }
}