.main__wrapper {
    max-width: 1400px;
    margin: 50px auto;
    padding: 10px;
}
.main__picture {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.logo__block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 180px;
}

.main__title {
    font-style: italic;
}
.main__text {
    font-size: 20px;
    text-indent: 16px;
    text-align: left;
}

@media (max-width: 900px) {
    .logo__block {
        flex-direction: column;
    }
    .main__title {
        text-align: center;
    }
}
