.main__wrapper {
    max-width: 1400px;
    margin: 0 auto;
    background-color: var(--lightwhite);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--primaryblack);
}

.main__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.main__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-indent: 16px;
    text-align: left;
    padding: 15px;
    letter-spacing: 1px;
}