.wrapper {
    margin: 0 auto;
    background: linear-gradient(to right, var(--lightgreen) 0%, var(--lightwhite) 50%, var(--lightgreen) 100%);
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--primaryblack);
    padding: 1rem;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
}

.marker {
    width: 1.3rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.text {
    text-indent: 1rem;
    padding: 1rem 0;
}

.list {
    max-width: 100%;
}

.list__helicopter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    width: 100%;
    padding-left: 0;
    color: var(--primarygreen);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.list__helicopter>li:hover {
    transform: scale(1.2);
    font-weight: 700;
}

.list__item {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 0;
    list-style-type: none;
    text-transform: uppercase;
    font-style: italic;
}

.list__item1 {
    list-style-type: none;
    padding: 1rem 2rem 0;
}


@media (max-width: 900px) {
    .list__item {
        padding: 1rem 0;
        display: block;
    }
}

@media (max-width: 900px) {
    .list__helicopter {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}