.language__button {
    width: 50px;
    height: 32px;
    border-radius: 5px;
    color: rgb(1, 1, 53);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: snow;
    /* border: none; */
    cursor: pointer;
}
