.language__button {
    width: 52px;
    height: 32px;
    border-radius: 5px;
    color: var(--primaryblack);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--primarywhite);
    border: none;
    padding: 0;
    cursor: pointer;
}
