.slider__wrapper {
    max-width: 50%;
    display: flex;
    margin: 2rem auto;
    overflow: hidden;
    border: 2px solid var(--primarygreen);
    box-sizing: border-box;
    border-radius: 0.5rem;
}

.slider__slide {
    width: 100%;
    flex-shrink: 0;
}

@media (max-width: 900px) {
    .slider__wrapper {
        max-width: 80%;
    }
}