.slider__wrapper {
    max-width: 70%;
    display: flex;
    max-height: 700px;
    margin: 2rem auto;
    overflow: hidden;
}

.slider__slide {
    width: 100%;
    flex-shrink: 0;
    opacity: 0.7;
    border-radius: 1rem;
    transition: opacity 0.5s linear;
}

.slider__slide.active {
    opacity: 1;
}