.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(1, 1, 53);
}

.header__link {
    color: snow;
    text-decoration: none;
    font-size: 22px;
}
