.partners__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners__title {
    font-style: italic;
}

.partners__logo {
    width: 200px;
}

.partners__logo__light {
    width: 200px;
    background-color: black;
}

.partners__info {
    display: flex;
    align-items: center;
    gap: 80px;
}

.partners__info a {
    text-decoration: none;
    color: rgb(1, 1, 53);
    font-size: 22px;
}

@media (max-width: 900px) {
    .partners__info {
        flex-direction: column;
        gap: 25px;
    }
}
