.footer__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: rgb(1, 1, 53);
    color: white;
    height: 52px;
    /* position: fixed; */
    bottom: 0;
    z-index: 10;
}

.footer__icon__block {
    display: flex;
    gap: 50px;
}

.footer__link {
    text-decoration: none;
    color: snow;
}

.footer__icon {
    width: 30px;
    height: 30px;
}

@media (max-width: 900px) {
    .footer__wrapper {
        flex-direction: column;
        gap: 15px;
        height: 68px;
    }
}
