.wrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--primaryblack);
    background-color: var(--lightwhite);
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0.8rem;
}

.title {
    margin: 2rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.imageRow {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.imageContainer {
    padding: 0.5rem;
}

.image {
    max-width: 400px;
    border: 1px solid var(--primaryblack);
    padding: 0.2rem;
    background-color: var(--lightwhite);
    cursor: pointer;
}

.image:hover {
    background-color: var(--secondarygreen);
}

.enlargedImage {
    width: 80%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .imageRow {
        flex-direction: column;
        margin-bottom: 0;
    }

    .image {
        max-width: 300px;
    }

    .image:hover {
        background-color: var(--lightwhite);
    }
}